.company-head {
    margin-top: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.companys-container {
    padding: 2.6rem;
}

.company-wrapper {
    display: grid;
    column-gap: 8rem;
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

.companys p {
    margin-bottom: 4rem;
    text-align: center;
}

.companys-container h2 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.companys-container span {
    border-bottom: 3px dashed var(--color-secondary);
}

.company-image-container img {
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.company-card img {
    margin-top: 5rem;
    width: 30%;
    place-items: center;
}

.company-card h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
    color: var(--color-primary);
}

.company-card small {
    text-align: center;
    margin-top: 2rem;
}


/* MEDIA QUERIES (for medium and small screen) */
@media screen and (max-width: 40em) {
    .companys-container h2 {
        white-space: nowrap;
    }

    .company-wrapper {
        grid-template-columns: 1fr;
    }

}